﻿@model C5.Data.Pedido
@{
    Layout = null;
}

<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    <table width="100%" cellpadding="0.5" cellspacing="0.5" widths="30;70" borderwidth="1.0" left="false" right="false" top="false" bottom="false" red="0" green="0" blue="0">
        <row>
            <cell>
                <chunk style="font-weight:bold;">Empresa:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.Empresa</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Frágil:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.Fragil</chunk>
            </cell>
        </row>
    </table>
</itext>
