﻿@model C5.Data.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTransporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTransporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volumes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volumes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fragil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fragil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
